<body topmargin=3D"0" leftmargin=3D"0" rightmargin=3D"0"><!--Copyright (c) =
1996-2018 Constant Contact. All rights reserved.  Except as permitted under=
 a separate
written agreement with Constant Contact, neither the Constant Contact softw=
are, nor any content that appears on any Constant Contact site,
including but not limited to, web pages, newsletters, or templates may be r=
eproduced, republished, repurposed, or distributed without the
prior written permission of Constant Contact.  For inquiries regarding repr=
oduction or distribution of any Constant Contact material, please
contact legal@constantcontact.com.--><meta name=3D"x-apple-disable-message-=
reformatting"/><style>@media only screen and (max-width:480px) {td[class~=
=3D"mobile-hidden"] {display: none !important;}}</style><style>@media only =
screen and (max-width:480px) {table[class~=3D"HideInMobile"], img[class~=3D=
"HideInMobile"], td[class~=3D"HideInMobile"], span[class~=3D"HideInMobile"]=
 {display: none !important;}td[class~=3D"FooterColumn"], table[class~=3D"Fo=
oterColumn"], span[class~=3D"FooterColumn"] {display:block !important;}.Foo=
terText {line-height: 1.6 !important;}}</style><style>blockquote .hideInRpl=
yFwd, .WordSection1 .hideInRplyFwd, blockquote a[href*=3D'https://visitor.c=
onstantcontact.com/do?p=3Dun&m=3D001frynYczpUKoNNOouPnK2mA%3D%3D&ch=3D07a9e=
940-3592-11e3-b30a-d4ae52a4597c&ca=3D1f9cf841-8ecf-461b-81f0-ac21ffeacd55']=
, .WordSection1 a[href*=3D'https://visitor.constantcontact.com/do?p=3Dun&m=
=3D001frynYczpUKoNNOouPnK2mA%3D%3D&ch=3D07a9e940-3592-11e3-b30a-d4ae52a4597=
c&ca=3D1f9cf841-8ecf-461b-81f0-ac21ffeacd55'], #OLK_SRC_BODY_SECTION .hideI=
nRplyFwd, #OLK_SRC_BODY_SECTION a[href*=3D'https://visitor.constantcontact.=
com/do?p=3Dun&m=3D001frynYczpUKoNNOouPnK2mA%3D%3D&ch=3D07a9e940-3592-11e3-b=
30a-d4ae52a4597c&ca=3D1f9cf841-8ecf-461b-81f0-ac21ffeacd55'] { display: non=
e !important; }</style><div id=3D"rootDiv"><img src=3D"http://r20.rs6.net/o=
n.jsp?a=3D1101813877994&r=3D3&c=3D062bd4c0-3592-11e3-b25f-d4ae52a4597c&d=3D=
1130172776834&ch=3D07a9e940-3592-11e3-b30a-d4ae52a4597c&ca=3D1f9cf841-8ecf-=
461b-81f0-ac21ffeacd55&o=3Dhttps://imgssl.constantcontact.com/ui/images1/s.=
gif" height=3D"1" width=3D"1"/>
<div align=3D"center">
  <table class=3D"body" style=3D"background-color:#999999;margin:0px 0px 0p=
x 0px;" bgcolor=3D"#999999" border=3D"0" width=3D"100%" cellspacing=3D"0" c=
ellpadding=3D"0">
    <tr>
      <td valign=3D"top" rowspan=3D"1" colspan=3D"1" align=3D"center">
        <table class=3D"TemplateWidth" style=3D"width:600px;" border=3D"0" =
width=3D"600" cellspacing=3D"0" cellpadding=3D"1">
          <tr>
            <td width=3D"100%" rowspan=3D"1" colspan=3D"2" align=3D"left">
                <table border=3D"0" width=3D"100%" cellspacing=3D"0" cellpa=
dding=3D"0">
                  <tr>
                    <td valign=3D"bottom" rowspan=3D"1" colspan=3D"1" align=
=3D"center">
                     =20
                       =20
                       =20
                          <span/>
                       =20
                     =20
                    </td>
                  </tr>
                </table>
              </td>
          </tr>
          <tr>
            <td class=3D"MainBorder" style=3D"background-color:#4C3F36;padd=
ing:1px;" bgcolor=3D"#4C3F36" rowspan=3D"1" colspan=3D"1" align=3D"left">
              <table border=3D"0" width=3D"100%" cellspacing=3D"0" cellpadd=
ing=3D"0">
                <tr>
                  <td class=3D"TopMainBG" style=3D"background-color:#285685=
;" bgcolor=3D"#285685" valign=3D"top" width=3D"100%" rowspan=3D"1" colspan=
=3D"2" align=3D"left">
                      <table class=3D"TopMainAcc1" style=3D"background-colo=
r:#6699CC;" bgcolor=3D"#6699CC" border=3D"0" width=3D"100%" cellspacing=3D"=
0" cellpadding=3D"0">
                        <tr>
                          <td height=3D"6" rowspan=3D"1" colspan=3D"1" alig=
n=3D"left">
                          </td>
                        </tr>
                      </table>
                      <table style=3D"display:table;" border=3D"0" width=3D=
"100%" cellspacing=3D"0" cellpadding=3D"15" id=3D"content_LETTER.BLOCK3"><t=
r><td class=3D"MainTitle" style=3D"color:#FFFFFF;font-size:14pt;font-family=
:Verdana,Geneva,Arial,Helvetica,sans-serif;text-align:left;" width=3D"73%" =
rowspan=3D"1" colspan=3D"1" align=3D"left"><span>Austin .Net User Group New=
sletter</span></td><td class=3D"DateText" style=3D"color:#EDEDED;font-size:=
8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;text-align:center=
;" width=3D"27%" rowspan=3D"1" colspan=3D"1" align=3D"center">
<div class=3D"SubtitleText" style=3D"color:#D4DDE6;font-size:8pt;font-famil=
y:Verdana,Geneva,Arial,Helvetica,sans-serif;"><span style=3D"color:#ededed;=
font-size:8pt;">March 2018</span></div>
</td></tr></table>
                      <table class=3D"TopMainAcc2" style=3D"background-colo=
r:#CCCC00;" bgcolor=3D"#CCCC00" border=3D"0" width=3D"100%" cellspacing=3D"=
0" cellpadding=3D"0">
                        <tr>
                          <td height=3D"6" rowspan=3D"1" colspan=3D"1" alig=
n=3D"left">
                          </td>
                        </tr>
                      </table>
                    </td>
                </tr>
                <tr>
                  <td class=3D"LeftColBG" style=3D"background-color:#FFFFFF=
;" bgcolor=3D"#FFFFFF" valign=3D"top" rowspan=3D"1" colspan=3D"1" align=3D"=
left">
                    <table border=3D"0" width=3D"100%" cellspacing=3D"0" ce=
llpadding=3D"7">
                      <tr>
                        <td class=3D"LeftColumnWidth" style=3D"width:440px;=
" width=3D"440" rowspan=3D"1" colspan=3D"1" align=3D"left">
                            <table style=3D"display:table;" border=3D"0" wi=
dth=3D"100%" cellpadding=3D"5" cellspacing=3D"0" id=3D"content_LETTER.BLOCK=
5"><tr><td class=3D"MainText" style=3D"margin-left:30px;color:#285685;font-=
size:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;text-align:l=
eft;" rowspan=3D"1" colspan=3D"1" align=3D"left"><span style=3D"font-size:1=
0pt;"><strong>Greetings!</strong></span>&nbsp;<br/><br/></td></tr></table>
                            <table border=3D"0" width=3D"100%" cellspacing=
=3D"0" cellpadding=3D"2">
                              <tr>
                                <td class=3D"TOCHead LeftColHeadBG" style=
=3D"background-color:#D4DDE6;color:#6699CC;font-size:14pt;font-family:Verda=
na,Geneva,Arial,Helvetica,sans-serif;" bgcolor=3D"#D4DDE6" valign=3D"middle=
" width=3D"100%" rowspan=3D"1" colspan=3D"1" align=3D"left">
                                  In This Issue
                                </td>
                              </tr>
                              <tr><td class=3D"SideBarBlockPad ArtPadding T=
OCLink" style=3D"padding:5px 0px 10px 0px;color:#CCCC00;font-size:8pt;font-=
family:Verdana,Geneva,Arial,Helvetica,sans-serif;text-align:left;" width=3D=
"100%" rowspan=3D"1" colspan=3D"1" align=3D"left">
                                  <b><a class=3D"TOCLink" style=3D"color:#C=
CCC00;font-size:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;t=
ext-align:left;" shape=3D"rect" href=3D"#LETTER.BLOCK7">Meeting Location!</=
a></b>
                                </td></tr><tr><td class=3D"SideBarBlockPad =
ArtPadding TOCLink" style=3D"padding:5px 0px 10px 0px;color:#CCCC00;font-si=
ze:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;text-align:lef=
t;" width=3D"100%" rowspan=3D"1" colspan=3D"1" align=3D"left">
                                  <b><a class=3D"TOCLink" style=3D"color:#C=
CCC00;font-size:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;t=
ext-align:left;" shape=3D"rect" href=3D"#LETTER.BLOCK8">March talk</a></b>
                                </td></tr><tr><td class=3D"SideBarBlockPad =
ArtPadding TOCLink" style=3D"padding:5px 0px 10px 0px;color:#CCCC00;font-si=
ze:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;text-align:lef=
t;" width=3D"100%" rowspan=3D"1" colspan=3D"1" align=3D"left">
                                  <b><a class=3D"TOCLink" style=3D"color:#C=
CCC00;font-size:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;t=
ext-align:left;" shape=3D"rect" href=3D"#LETTER.BLOCK17">Visual Studio Live=
! Austin</a></b>
                                </td></tr><tr><td class=3D"SideBarBlockPad =
ArtPadding TOCLink" style=3D"padding:5px 0px 10px 0px;color:#CCCC00;font-si=
ze:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;text-align:lef=
t;" width=3D"100%" rowspan=3D"1" colspan=3D"1" align=3D"left">
                                  <b><a class=3D"TOCLink" style=3D"color:#C=
CCC00;font-size:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;t=
ext-align:left;" shape=3D"rect" href=3D"#LETTER.BLOCK9">San Antonio .NET Us=
er Group</a></b>
                                </td></tr>
                            </table>
                            <a name=3D"LETTER.BLOCK7"></a><table border=3D"=
0" width=3D"100%" cellpadding=3D"2" cellspacing=3D"0" id=3D"content_LETTER.=
BLOCK7"><tr><td class=3D"ArticleHeading LeftColHeadBG" style=3D"background-=
color:#D4DDE6;color:#6699CC;font-size:14pt;font-family:Verdana,Geneva,Arial=
,Helvetica,sans-serif;text-align:left;" bgcolor=3D"#D4DDE6" valign=3D"cente=
r" rowspan=3D"1" colspan=3D"1" align=3D"left">MEETING LOCATION!</td></tr><t=
r><td class=3D"ArtPadding" style=3D"padding:5px 0px 10px 0px;color:#285685;=
font-size:8pt;text-align:left;" rowspan=3D"1" colspan=3D"1" align=3D"left">=
<br/><div style=3D"font-family:Verdana, Geneva, Arial, Helvetica, sans-seri=
f;">
<div>Please note the venue for the monthly meeting. &nbsp;We are at the&nbs=
p;<strong>Microsoft Austin Office.</strong>&nbsp;The address is:</div>
<div>&nbsp;</div>
<div>
<div><span>Building B, 10900 Stonelake Blvd,&nbsp;</span></div>
<div><span>Austin, TX 78759</span><br/></div>
</div>
</div></td></tr></table><a name=3D"LETTER.BLOCK8"></a><table border=3D"0" w=
idth=3D"100%" cellpadding=3D"2" cellspacing=3D"0" id=3D"content_LETTER.BLOC=
K8"><tr><td class=3D"ArticleHeading LeftColHeadBG" style=3D"background-colo=
r:#D4DDE6;color:#6699CC;font-size:14pt;font-family:Verdana,Geneva,Arial,Hel=
vetica,sans-serif;text-align:left;" bgcolor=3D"#D4DDE6" valign=3D"center" r=
owspan=3D"1" colspan=3D"1" align=3D"left"><a shape=3D"rect">March 12, 2018 =
- Give your App/Web Site Superpowers with Cognitive Services</a><br/></td><=
/tr><tr><td class=3D"ArticleText ArtPadding" style=3D"padding:5px 0px 10px =
0px;color:#285685;font-size:8pt;font-family:Verdana,Geneva,Arial,Helvetica,=
sans-serif;text-align:left;" rowspan=3D"1" colspan=3D"1" align=3D"left">
<div style=3D"margin-top:0px;font-family:Verdana, Geneva, Arial, Helvetica,=
 sans-serif;margin-bottom:0px;">
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div><strong>Abstract:</strong></div>
<div><strong><br/></strong></div>
</div>
<div>
<div>Wish your app could see, hear, speak, understand and interpret your us=
er needs through natural methods of communication? Started researching Arti=
ficial Intelligence and Neural Networks, but it all just makes your head hu=
rt? Wish there was an easy to consume web service by the leading researcher=
s in the field that you could just call to teach your app/Web Site to see, =
hear, speak, understand and interpret your user needs through natural metho=
ds of communication? In this session we will kick the tires on the Cognitiv=
e Services available in Azure. Attendees will leave with an understanding o=
f how to give their app superpowers.</div>
<br/><br/><div><strong>Bio:</strong></div><div><strong><br/></strong></div>=
</div>
<div>
<div>Shawn is passionate about building awesome applications and websites w=
ith .NET technologies and Azure. He is currently a Cloud Solution Architect=
 for Microsoft based in Austin TX and founder of&nbsp;<a shape=3D"rect">htt=
p://UserGroup.tv</a>. Read his full bio at&nbsp;<a shape=3D"rect">http://ab=
out.me/shawnweisfeld</a></div>
<br/><div><strong>The talk will take place at Microsoft Austin office from =
5:30 p.m. to 8:00 p.m. on 3/12/2018.</strong></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td></tr></table>
                           =20
                           =20
                           =20
                            <a name=3D"LETTER.BLOCK17"></a><table border=3D=
"0" width=3D"100%" cellspacing=3D"0" cellpadding=3D"2" id=3D"content_LETTER=
.BLOCK17"><tr><td class=3D"ArticleHeading LeftColHeadBG" style=3D"backgroun=
d-color:#D4DDE6;color:#6699CC;font-size:14pt;font-family:Verdana,Geneva,Ari=
al,Helvetica,sans-serif;" bgcolor=3D"#D4DDE6" valign=3D"center" rowspan=3D"=
1" colspan=3D"1" align=3D"left"><a shape=3D"rect">April 30 - May 4, 2018 - =
Visual Studio Live! Austin</a></td></tr><tr><td class=3D"ArticleText ArtPad=
ding" style=3D"padding:5px 0px 10px 0px;color:#285685;font-size:8pt;font-fa=
mily:Verdana,Geneva,Arial,Helvetica,sans-serif;" rowspan=3D"1" colspan=3D"1=
" align=3D"left">
<div>
<div><strong>Visual Studio Live! (VSLive!&trade;)</strong> is back in Austi=
n this spring with 5 days of practical, unbiased, Developer training. From =
April 30 - May 4, 2018, join us for hard-hitting sessions, insightful works=
hops, intense hands-on labs and fun networking events. Code with industry e=
xperts, hear the latest from Microsoft insiders and tune up on today's hott=
est training topics! Plus, help us celebrate 25 years of coding innovation =
as we take a fun look back at technology and training since 1993. Come expe=
rience the education, knowledge-share and networking at #VSLive25.</div>
<br/><div>For more information, check out&nbsp;https://vslive.com/Events/Au=
stin-2018/Home.aspx.&nbsp; For agenda, check out http://resources.vslive.co=
m/Austin-2018-Agenda.html</div><div>&nbsp;</div><div><strong>The event will=
 take place at Hyatt Regency Austin</strong></div><div>208 Barton Springs R=
d</div><div>Austin, TX 78704</div></div>
<br/></td></tr></table><a name=3D"LETTER.BLOCK9"></a><table border=3D"0" wi=
dth=3D"100%" cellspacing=3D"0" cellpadding=3D"2" id=3D"content_LETTER.BLOCK=
19"><tr><td class=3D"ArticleHeading LeftColHeadBG" style=3D"background-colo=
r:#D4DDE6;color:#6699CC;font-size:14pt;font-family:Verdana,Geneva,Arial,Hel=
vetica,sans-serif;" bgcolor=3D"#D4DDE6" valign=3D"center" rowspan=3D"1" col=
span=3D"1" align=3D"left">Interested in speaking at San Antonio .NET User G=
roup?</td></tr><tr><td class=3D"ArticleText ArtPadding" style=3D"padding:5p=
x 0px 10px 0px;color:#285685;font-size:8pt;font-family:Verdana,Geneva,Arial=
,Helvetica,sans-serif;" rowspan=3D"1" colspan=3D"1" align=3D"left">
<p style=3D"margin-top:0px;margin-bottom:0px;">San Antonio .Net User Group =
was re-established the group early last year.&nbsp; While it's primarily .N=
et, a broader set of topics including Azure, modern web, and mobile are als=
o covered.&nbsp; You can find more information at:&nbsp;<a style=3D"color:r=
gb(40, 86, 133);text-decoration:underline;" track=3D"on" shape=3D"rect" hre=
f=3D"http://r20.rs6.net/tn.jsp?f=3D001Q8tk4y27lb9R-vMXOSAG9B5MzhtFb3Rmi0amv=
OxC82spl77lCNAq1zJ1g1PerwaDRejhbSLOOXKAMkMfouLg2vZTR2b4d66feEv2eoU5oagtPDqF=
XLDefT0343wHntXJaJ4EQBRot0R5PwJYXkC69ovyzy8tYFbHNMUwiwl19RAvY8_-7vLzaA=3D=
=3D&c=3DoiFi2Ui0OV1Q-7byradOachh4ICvbYm3F5Ju-HlkF1NmAnfiB2HPuQ=3D=3D&ch=3DF=
23FS4KT5AlJq7j1pPXVmA4DmOa46pXagrMpMwnsz5P9F75lcaQkAQ=3D=3D" linktype=3D"1"=
 alt=3D"http://www.meetup.com/satnug" target=3D"_blank">www.meetup.com/satn=
ug</a>.</p>
<p style=3D"margin-top:0px;margin-bottom:0px;">&nbsp;</p>
<p style=3D"margin-top:0px;margin-bottom:0px;">If you are interested in com=
ing to San Antonio (a quick trip from Austin) to speak, the group meets on =
the second Tuesday of the month at Geekdom's Event Center at 5:30 (presenta=
tions start at 6:00 pm). &nbsp;</p>
<p style=3D"margin-top:0px;margin-bottom:0px;">&nbsp;</p>
<p style=3D"margin-top:0px;margin-bottom:0px;">For more information, please=
 reach out to Sam Larko (<span>Sam.Larko@appliedis.com)&nbsp;</span>or <a s=
tyle=3D"color:rgb(40, 86, 133);text-decoration:underline;" track=3D"on" sha=
pe=3D"rect" href=3D"http://r20.rs6.net/tn.jsp?f=3D001Q8tk4y27lb9R-vMXOSAG9B=
5MzhtFb3Rmi0amvOxC82spl77lCNAq1zJ1g1PerwaDRejhbSLOOXKAMkMfouLg2vZTR2b4d66fe=
Ev2eoU5oagtPDqFXLDefT0343wHntXJaJ4EQBRot0R5PwJYXkC69ovyzy8tYFbHNMUwiwl19RAv=
Y8_-7vLzaA=3D=3D&c=3DoiFi2Ui0OV1Q-7byradOachh4ICvbYm3F5Ju-HlkF1NmAnfiB2HPuQ=
=3D=3D&ch=3DF23FS4KT5AlJq7j1pPXVmA4DmOa46pXagrMpMwnsz5P9F75lcaQkAQ=3D=3D" l=
inktype=3D"1" alt=3D"http://www.meetup.com/satnug" target=3D"_blank">www.me=
etup.com/satnug</a>.</p>
<p style=3D"margin-top:0px;margin-bottom:0px;">&nbsp;</p>
<p style=3D"margin-top:0px;margin-bottom:0px;">&nbsp;</p>
</td></tr></table><a name=3D"LETTER.BLOCK10"></a><table border=3D"0" width=
=3D"100%" cellpadding=3D"2" cellspacing=3D"0" id=3D"content_LETTER.BLOCK16"=
><tr><td class=3D"ArticleHeading LeftColHeadBG" style=3D"background-color:#=
D4DDE6;color:#6699CC;font-size:14pt;font-family:Verdana,Geneva,Arial,Helvet=
ica,sans-serif;text-align:left;" bgcolor=3D"#D4DDE6" valign=3D"center" rows=
pan=3D"1" colspan=3D"1" align=3D"left">Polls</td></tr><tr><td class=3D"Arti=
cleText ArtPadding" style=3D"padding:5px 0px 10px 0px;color:#285685;font-si=
ze:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;text-align:lef=
t;" rowspan=3D"1" colspan=3D"1" align=3D"left"><br/><div><span>We've heard =
fantastic feedback from the community regarding last month's meeting as wel=
l as suggestions on various topics, including logistics and future topics, =
which we've taken to heart. &nbsp;Our polls are still open and we actively =
scan them for community feedback. &nbsp;Please visit the following polls an=
d let us know what you think!</span><br/><ul><li><a style=3D"color:rgb(51, =
102, 153);text-decoration:underline;" track=3D"on" shape=3D"rect" href=3D"h=
ttp://r20.rs6.net/tn.jsp?f=3D001Q8tk4y27lb9R-vMXOSAG9B5MzhtFb3Rmi0amvOxC82s=
pl77lCNAq16L5bWV2UMFaYaYYXl2wOEagKnRY0idxMxW_GNrrTLw16zUosJDLRXo295S94srDOz=
E4OccsMUte2BKfdlMlWEqYSV-AegfWIwaBSNTIVBc8cpXqzLX6kjmU0GDnv6x9P3GKCuz3JPaRm=
XuHcIJfaFbzWRjMGXb94TcSaHzrmriipJClNDI_p_I=3D&c=3DoiFi2Ui0OV1Q-7byradOachh4=
ICvbYm3F5Ju-HlkF1NmAnfiB2HPuQ=3D=3D&ch=3DF23FS4KT5AlJq7j1pPXVmA4DmOa46pXagr=
MpMwnsz5P9F75lcaQkAQ=3D=3D" linktype=3D"1" alt=3D"https://adnug.uservoice.c=
om/forums/146325-improve-adnug-meetings" target=3D"_blank">How to improve A=
DNUG meetings</a></li><li><a style=3D"color:rgb(51, 102, 153);text-decorati=
on:underline;" track=3D"on" shape=3D"rect" href=3D"http://r20.rs6.net/tn.js=
p?f=3D001Q8tk4y27lb9R-vMXOSAG9B5MzhtFb3Rmi0amvOxC82spl77lCNAq16L5bWV2UMFaLY=
yzQHA2LF033nKCVWttX5Pp1iKr3T5UjdRvvCodpj0U--XevtXXqqZ5XSwT6CHrGnXUACMNSv2QO=
o_JQPeEDj47B684P2PTZxDs8JdKscahmbnQB_trbke9ez6qH6AWwLggA2FCjL-7OhNgN0sBKCGX=
NlGk3KCM&c=3DoiFi2Ui0OV1Q-7byradOachh4ICvbYm3F5Ju-HlkF1NmAnfiB2HPuQ=3D=3D&c=
h=3DF23FS4KT5AlJq7j1pPXVmA4DmOa46pXagrMpMwnsz5P9F75lcaQkAQ=3D=3D" linktype=
=3D"1" alt=3D"https://adnug.uservoice.com/forums/38882-monthly-meeting-topi=
cs" target=3D"_blank">Monthly meeting topics</a></li></ul><p style=3D"margi=
n-top:0px;margin-bottom:0px;">&nbsp;</p><div>Thanks in advance for your fee=
dback!</div></div><p style=3D"margin-top:0px;margin-bottom:0px;">&nbsp;</p>=
</td></tr></table><table class=3D"MainText" style=3D"color:#285685;font-siz=
e:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;" border=3D"0" =
width=3D"100%" cellpadding=3D"10" cellspacing=3D"0" id=3D"content_LETTER.BL=
OCK9"><tr><td style=3D"color:#285685;text-align:left;" rowspan=3D"1" colspa=
n=3D"1" align=3D"left"><br/><div><b style=3D"font-size:8pt;">Sincerely,</b>=
</div><p style=3D"color:#285685;margin-top:0px;margin-bottom:0px;">&nbsp;</=
p><div><span>Austin .Net User Group </span></div><div>&nbsp;</div><div><spa=
n><a track=3D"on" href=3D"http://r20.rs6.net/tn.jsp?f=3D001Q8tk4y27lb9R-vMX=
OSAG9B5MzhtFb3Rmi0amvOxC82spl77lCNAq13rsLOXktokRhDNCrL3FdAucCwj7xMiRMoQs-0_=
53cKXO4Ehz2V0jFLdosYeZMS4dPyZHXBIyFXXAZj9WeGg4NPavBe1f4fExtNQPpWCzZTa4izaTX=
PHIGuTr_Tiv7rsw_YWgH38ON85&c=3DoiFi2Ui0OV1Q-7byradOachh4ICvbYm3F5Ju-HlkF1Nm=
AnfiB2HPuQ=3D=3D&ch=3DF23FS4KT5AlJq7j1pPXVmA4DmOa46pXagrMpMwnsz5P9F75lcaQkA=
Q=3D=3D" shape=3D"rect" linktype=3D"twitter" alt=3D"http://twitter.com/#!/a=
txdnug" target=3D"_blank"><img border=3D"0" alt=3D"Follow us on Twitter" ti=
tle=3D"Follow us on Twitter" src=3D"https://imgssl.constantcontact.com/ui/i=
mages1/ic_twit_36.png" align=3D"null"/></a><a track=3D"on" href=3D"http://r=
20.rs6.net/tn.jsp?f=3D001Q8tk4y27lb9R-vMXOSAG9B5MzhtFb3Rmi0amvOxC82spl77lCN=
Aq13rsLOXktokRXQPi_Vz-Yuh32spsAsMzy4hLhAskgcD7GcePeeKLlK5oNX-vQjcBVIWS9Cvh5=
XPwKLq7tSrXRoOZC8VCZEyvd-xqp0NksgpQbuKwAdg-LnT4tvZoS2zkohtg1CNpB_4IDax8_47F=
YmGWF3OiuX3lWuE5sxPNpsfIkUXFhBVuG3o7cIb8tmsufw=3D=3D&c=3DoiFi2Ui0OV1Q-7byra=
dOachh4ICvbYm3F5Ju-HlkF1NmAnfiB2HPuQ=3D=3D&ch=3DF23FS4KT5AlJq7j1pPXVmA4DmOa=
46pXagrMpMwnsz5P9F75lcaQkAQ=3D=3D" shape=3D"rect" linktype=3D"linkedin" alt=
=3D"http://www.linkedin.com/groups?home=3D&gid=3D114429&trk=3Danet_ug_hm" t=
arget=3D"_blank"><img border=3D"0" alt=3D"View our profile on LinkedIn" tit=
le=3D"View our profile on LinkedIn" src=3D"https://imgssl.constantcontact.c=
om/ui/images1/ic_lkdin_36.png" align=3D"null"/></a>&nbsp;</span></div></td>=
</tr></table>
                          </td>
                      </tr>
                    </table>
                  </td>
                  <td class=3D"RightColBG" style=3D"background-color:#D4DDE=
6;" bgcolor=3D"#D4DDE6" valign=3D"top" rowspan=3D"1" colspan=3D"1" align=3D=
"left">
                    <table class=3D"RightColumnWidth" style=3D"width:160px;=
" border=3D"0" width=3D"160" cellspacing=3D"0" cellpadding=3D"0">
                      <tr>
                        <td valign=3D"top" width=3D"100%" rowspan=3D"1" col=
span=3D"1" align=3D"left">
                            <a name=3D"LETTER.BLOCK12"></a><table border=3D=
"0" width=3D"100%" cellpadding=3D"2" cellspacing=3D"0" id=3D"content_LETTER=
.BLOCK12"><tr><td class=3D"RightColHead RightColHeadBG" style=3D"background=
-color:#6699CC;color:#EDEDED;font-size:10pt;font-family:Verdana,Geneva,Aria=
l,Helvetica,sans-serif;text-align:center;" bgcolor=3D"#6699CC" valign=3D"ce=
nter" rowspan=3D"1" colspan=3D"1" align=3D"center">
<div style=3D"margin-left:30px;text-align:left;" align=3D"left"><b>&nbsp; &=
nbsp; Next Talk</b></div>
</td></tr><tr><td class=3D"RightColText SideBarBlockPad" style=3D"padding-t=
op:10px;color:#285685;padding-left:3px;font-size:8pt;font-family:Verdana,Ge=
neva,Arial,Helvetica,sans-serif;padding-right:3px;text-align:center;" rowsp=
an=3D"1" colspan=3D"1" align=3D"center"><span><br/><table class=3D"imgCapti=
onTable OneColumnMobile" style=3D"text-align:center;" width=3D"154" data-pa=
dding-converted=3D"true" cellpadding=3D"0" cellspacing=3D"0"><tr><td class=
=3D" imgCaptionImg" style=3D"padding:0px;" width=3D"100%" rowspan=3D"1" col=
span=3D"1">
<div align=3D"center"><img height=3D"154" vspace=3D"0" border=3D"0" hspace=
=3D"0" width=3D"154" src=3D"http://adnug.org/Home/wp-content/uploads/2018/0=
3/unnamed-150x150.jpg"/></div>
</td></tr><tr><td class=3D"imgCaptionText" style=3D"color:#285685;font-weig=
ht:bold;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-styl=
e:normal;text-align:center;" rowspan=3D"1" colspan=3D"1">Shawn Weisfeld</td=
></tr></table><br/></span>&nbsp;<a shape=3D"rect">March 12, 2018 - Give you=
r App/Web Site Superpowers with Cognitive Services</a><br/></td></tr></tabl=
e>
                            <table border=3D"0" width=3D"100%" cellpadding=
=3D"2" cellspacing=3D"0" id=3D"content_LETTER.BLOCK13"><tr><td class=3D"Rig=
htColHead RightColHeadBG" style=3D"background-color:#6699CC;color:#EDEDED;f=
ont-size:10pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;text-al=
ign:center;" bgcolor=3D"#6699CC" valign=3D"center" width=3D"100%" rowspan=
=3D"1" colspan=3D"1" align=3D"center"><b>Quick Links</b></td></tr><tr><td c=
lass=3D"SideBarBlockPad RightColText ArtPadding" style=3D"padding:5px 0px 1=
0px 0px;color:#285685;font-size:8pt;font-family:Verdana,Geneva,Arial,Helvet=
ica,sans-serif;text-align:center;" width=3D"100%" rowspan=3D"1" colspan=3D"=
1" align=3D"center">
<div><b><a style=3D"color:rgb(51, 102, 153);text-decoration:underline;" tra=
ck=3D"off" href=3D"http://adnug.org" shape=3D"rect" linktype=3D"1" alt=3D"h=
ttp://adnug.org" target=3D"_blank">ADNUG website<br/></a></b></div>
</td></tr></table>
                           =20
                           =20
                            <table border=3D"0" width=3D"100%" cellspacing=
=3D"0" cellpadding=3D"0">
                              <tr>
                                <td class=3D"SignUpBG RightColText ArtPaddi=
ng" style=3D"background-color:#CCCC00;padding:5px 0px 10px 0px;color:#28568=
5;font-size:8pt;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;" bgc=
olor=3D"#CCCC00" valign=3D"middle" rowspan=3D"1" colspan=3D"1" align=3D"cen=
ter">
                                  <a shape=3D"rect" href=3D"https://visitor=
.r20.constantcontact.com/email.jsp?m=3D1101813877994" target=3D"_blank"><im=
g vspace=3D"5" border=3D"0" optionname=3D"JMML_OPGR1" alt=3D"Join Our Maili=
ng List" src=3D"http://img.constantcontact.com/letters/images/1101093164665=
/jmml_opgr1_img1.gif"/></a>
                                </td>
                              </tr>
                            </table>
                          </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height=3D"10" width=3D"100%" rowspan=3D"1" colspan=3D"1" al=
ign=3D"left">
               =20
                <table border=3D"0" width=3D"100%" cellspacing=3D"0" cellpa=
dding=3D"0">
                  <tr>
                    <td class=3D"Spacer" style=3D"height:15px;" height=3D"1=
5" valign=3D"top" rowspan=3D"1" colspan=3D"1" align=3D"center">
                    </td>
                  </tr>
                </table>
               =20
               =20
              </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<div id=3D"footerContainer" align=3D"center" style=3D"background-color:#fff=
fff;">
<table style=3D"background-color:#ffffff;" border=3D"0" width=3D"100%" cell=
padding=3D"0" cellspacing=3D"0" id=3D"footerPanelWrap">
<tr>
<td rowspan=3D"1" colspan=3D"1" align=3D"center">

<table style=3D"background-color:#ffffff;" border=3D"0" width=3D"100%" cell=
spacing=3D"0" cellpadding=3D"0" id=3D"footerContainer"><tr><td class=3D"Hid=
eInMobile" rowspan=3D"1" colspan=3D"1"><img height=3D"5" vspace=3D"0" borde=
r=3D"0" hspace=3D"0" width=3D"1" src=3D"https://imgssl.constantcontact.com/=
letters/images/sys/S.gif"/></td><td style=3D"background-color:#FFFFFF;" val=
ign=3D"top" width=3D"610" rowspan=3D"1" colspan=3D"1" align=3D"center"><div=
 style=3D"margin-left:auto;max-width:610px;margin-right:auto;" align=3D"cen=
ter"><table style=3D"margin-left:auto;margin-right:auto;" border=3D"0" widt=
h=3D"100%" cellspacing=3D"0" cellpadding=3D"0"><tr><td style=3D"padding:15p=
x 10px 15px 10px;" valign=3D"top" width=3D"100%" rowspan=3D"1" colspan=3D"1=
" align=3D"center"><table style=3D"margin-left:auto;margin-right:auto;" bor=
der=3D"0" width=3D"100%" cellspacing=3D"0" cellpadding=3D"0"><tr><td style=
=3D"padding-bottom:15px;" valign=3D"top" width=3D"100%" rowspan=3D"1" colsp=
an=3D"1" align=3D"center"><div style=3D"color:#5d5d5d;font-size:13px;font-f=
amily:Verdana,Geneva,sans-serif;" id=3D"LETTER.PHYSICALADDRESS"><span class=
=3D"FooterColumn">Austin .Net User Group<span class=3D"HideInMobile">,</spa=
n></span><span class=3D"FooterColumn"> Stonebridge&nbsp;Plaza&#x97;Building=
&nbsp;One<span class=3D"HideInMobile">,</span></span><span class=3D"FooterC=
olumn"> 9606&nbsp;North&nbsp;Mopac,&nbsp;Suite&nbsp;200<span class=3D"HideI=
nMobile">,</span></span><span class=3D"FooterColumn">&nbsp;Austin<span clas=
s=3D"HideInMobile">,</span>&nbsp;TX&nbsp;78759</span></div></td></tr><tr><t=
d valign=3D"top" width=3D"100%" rowspan=3D"1" colspan=3D"1" align=3D"center=
"><table border=3D"0" width=3D"100%" cellspacing=3D"0" cellpadding=3D"0"><t=
r><td style=3D"padding-bottom:5px;" valign=3D"top" width=3D"100%" rowspan=
=3D"1" colspan=3D"1" align=3D"center"><div class=3D"FooterText" style=3D"co=
lor:#5d5d5d;font-size:12px;font-family:Verdana,Geneva,sans-serif;line-heigh=
t:1.4;"><a class=3D"hideInRplyFwd" style=3D"color:#5d5d5d;" shape=3D"rect" =
href=3D"https://visitor.constantcontact.com/do?p=3Dun&m=3D001frynYczpUKoNNO=
ouPnK2mA%3D%3D&ch=3D07a9e940-3592-11e3-b30a-d4ae52a4597c&ca=3D1f9cf841-8ecf=
-461b-81f0-ac21ffeacd55" target=3D"_blank" id=3D"unsubscribeLink"><span id=
=3D"unsubscribeLinkText">SafeUnsubscribe&trade;</span> dimalg@gmail.com</a>=
</div></td></tr></table><table border=3D"0" width=3D"100%" cellspacing=3D"0=
" cellpadding=3D"0"><tr><td valign=3D"top" width=3D"100%" rowspan=3D"1" col=
span=3D"1" align=3D"center"><div class=3D"FooterText" style=3D"color:#5d5d5=
d;font-size:12px;font-family:Verdana,Geneva,sans-serif;line-height:1.4;"><s=
pan class=3D"FooterColumn"><a style=3D"color:#5d5d5d;" shape=3D"rect" href=
=3D"http://ui.constantcontact.com/sa/fwtf.jsp?llr=3Dkhdttecab&m=3D110181387=
7994&ea=3Ddimalg%40gmail.com&a=3D1130172776834" target=3D"_blank" id=3D"fwt=
fLink">Forward email</a>&nbsp;<span class=3D"HideInMobile">|&nbsp;</span></=
span><span class=3D"FooterColumn"><a class=3D"hideInRplyFwd" style=3D"color=
:#5d5d5d;" shape=3D"rect" href=3D"https://visitor.constantcontact.com/do?p=
=3Doo&m=3D001frynYczpUKoNNOouPnK2mA%3D%3D&ch=3D07a9e940-3592-11e3-b30a-d4ae=
52a4597c&ca=3D1f9cf841-8ecf-461b-81f0-ac21ffeacd55" target=3D"_blank" id=3D=
"updateProfileLink">Update Profile</a><span class=3D"HideInMobile hideInRpl=
yFwd">&nbsp;|&nbsp;</span></span><span class=3D"FooterColumn"><a style=3D"c=
olor:#5d5d5d;" shape=3D"rect" href=3D"http://www.constantcontact.com/legal/=
service-provider?cc=3Dabout-service-provider" alt=3D"http://www.constantcon=
tact.com/legal/service-provider?cc=3Dabout-service-provider" target=3D"_bla=
nk" id=3D"privacyLink">About our service provider</a></span></div></td></tr=
></table><table border=3D"0" width=3D"100%" cellspacing=3D"0" cellpadding=
=3D"0"><tr><td style=3D"padding-top:5px;" valign=3D"top" width=3D"100%" row=
span=3D"1" colspan=3D"1" align=3D"center"><div class=3D"FooterText" style=
=3D"color:#5d5d5d;font-size:12px;font-family:Verdana,Geneva,sans-serif;">Se=
nt by <a style=3D"color:#5d5d5d;" shape=3D"rect" href=3D"mailto:newsletter@=
adnug.org" target=3D"_blank" id=3D"sentByEmailLink">newsletter@adnug.org</a=
> in collaboration with</div></td></tr></table></td></tr><tr><td style=3D"p=
adding-top:20px;padding-bottom:20px;" valign=3D"top" width=3D"100%" rowspan=
=3D"1" colspan=3D"1" align=3D"center"><table border=3D"0" width=3D"100%" ce=
llspacing=3D"0" cellpadding=3D"0"><tr><td style=3D"padding-bottom:5px;" val=
ign=3D"top" width=3D"100%" rowspan=3D"1" colspan=3D"1" align=3D"center"><di=
v><a shape=3D"rect" href=3D"http://www.constantcontact.com/index.jsp?cc=3Dn=
ewsVE02" target=3D"_blank" id=3D"footerLogoLink"><img border=3D"0" width=3D=
"180" style=3D"display: block; height:auto !important; max-width:100% !impo=
rtant;" alt=3D"Constant Contact" src=3D"https://imgssl.constantcontact.com/=
ui/images1/ctct-logo.png"/></a></div></td></tr><tr><td valign=3D"top" width=
=3D"100%" rowspan=3D"1" colspan=3D"1" align=3D"center"><table border=3D"0" =
width=3D"128" cellspacing=3D"0" cellpadding=3D"0"><tr><td valign=3D"top" wi=
dth=3D"100%" rowspan=3D"1" colspan=3D"1" align=3D"left"><div style=3D"color=
:#184f8e;font-size:11px;font-family:Verdana,Geneva,sans-serif;"><a style=3D=
"color:#184f8e;text-decoration:none;font-size:11px;font-family:Verdana,Gene=
va,sans-serif;" shape=3D"rect" href=3D"http://www.constantcontact.com/index=
.jsp?cc=3DnewsVE02" target=3D"_blank" id=3D"footerLogoTxtLink">Try it free =
today</a></div></td></tr></table></td></tr></table></td></tr></table></td><=
/tr></table></div></td><td class=3D"HideInMobile" rowspan=3D"1" colspan=3D"=
1"><img height=3D"5" vspace=3D"0" border=3D"0" hspace=3D"0" width=3D"1" src=
=3D"https://imgssl.constantcontact.com/letters/images/sys/S.gif"/></td></tr=
></table>
</td>
</tr>
</table>
</div></div></body>